# PrimeVue/PrimeUI Community License key (see src/vue-app.ts). Public/
# client-bundled by design — not a secret — but kept out of git history so
# it isn't hardcoded per-environment and can be rotated without a commit.
# Get one at https://primeui.store/primeui if you don't have one.
PUBLIC_PRIMEVUE_LICENSE_KEY=
